# Ignore node_modules directory
node_modules/

# Ignore any built files
/dist/
/build/

# Ignore environment-specific files
.env

# Ignore any files created by editors or IDEs
.vscode/
.idea/

# Ignore npm-debug.log files
npm-debug.log*

# Ignore yarn.lock file
yarn.lock

# Ignore any file that may contain sensitive or user-specific information
*.secret

# Ignore any files created by testing frameworks
coverage/